<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Web App with Python</title>
</head>

<body>
  <a href="/home">Ana Sayfa</a><br />
  <a href="/about">Hakkımızda</a><br />
  <a href="/contact">İletişim</a><br />
  <h1>About Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis eos ratione natus voluptate, suscipit labore
    neque dolore inventore illum sunt temporibus alias, doloremque expedita praesentium? Pariatur incidunt explicabo at,
    earum maxime error eum excepturi natus blanditiis voluptatem ab molestiae deserunt magni! Mollitia error
    voluptatibus voluptates facere quibusdam aliquam iusto et?</p>

</html>