@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
* {
  text-decoration: none;
  -webkit-overflow-scrolling: touch; }
  *:focus {
    outline: 0; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  html a {
    color: #fff; }

body header #navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px; }
  body header #navbar ul {
    display: flex;
    align-items: center; }
    body header #navbar ul li a {
      padding: 0.75rem; }
      body header #navbar ul li a:hover {
        background: #336ea2;
        border-radius: 4px; }

body #home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid grey; }
  body #home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%; }
  body #home .name {
    text-align: center; }
    body #home .name h2 {
      margin-bottom: 0.75rem; }
    body #home .name p {
      opacity: 0.6;
      font-style: italic; }

body #training {
  color: #fff;
  padding: 1rem; }
  body #training .items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body #training .items .item {
      width: 33%;
      text-align: center;
      padding: 0.5rem; }
      body #training .items .item:hover {
        color: red;
        opacity: 0.4; }

body #courses {
  color: #333;
  padding: 1rem; }
  body #courses .container .courses {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
    body #courses .container .courses .course {
      display: flex;
      padding: 0.5rem;
      margin-bottom: 0.5rem; }
      body #courses .container .courses .course .course-info .title {
        letter-spacing: 1.2px;
        margin-bottom: 0.25rem;
        font-weight: 700; }
      body #courses .container .courses .course .course-info .description {
        letter-spacing: 1.2px;
        margin-bottom: 0.25rem;
        opacity: 0.6; }
      body #courses .container .courses .course .course-info .instructor {
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
        opacity: 0.6; }
      body #courses .container .courses .course .course-info .rating {
        font-size: 0.8rem;
        margin-bottom: 0.25rem;
        opacity: 0.6; }
      body #courses .container .courses .course .course-image {
        margin-right: 0.5rem;
        position: relative; }
        body #courses .container .courses .course .course-image img {
          border-radius: 5px; }
        body #courses .container .courses .course .course-image span {
          padding: 0.25rem;
          background-color: red;
          color: #fff;
          border-radius: 4px;
          position: absolute;
          top: 15px;
          left: 5px; }

body #contact {
  color: #fff;
  padding: 1rem; }
  body #contact .contact-form {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    body #contact .contact-form ul {
      display: flex;
      align-self: center;
      margin-top: 1rem; }
      body #contact .contact-form ul li a {
        padding: 1rem;
        font-size: 2rem; }
        body #contact .contact-form ul li a:hover {
          opacity: 0.8; }
