html {
  font-size: 8px; }

.container-project {
  display: flex;
  flex-direction: column; }
  .container-project .info {
    flex: 1; }
    .container-project .info .container {
      max-height: calc(90vh);
      height: calc(50vh);
      max-width: calc(90vw); }
  .container-project #map {
    flex: 2; }
