<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Web App with Python</title>
</head>

<body>
  <a href="/home">Ana Sayfa</a><br />
  <a href="/about">Hakkımızda</a><br />
  <a href="/contact">İletişim</a><br />
  <h1>Contact Page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore odio deserunt modi maiores molestias totam
    nostrum eligendi distinctio eum, animi illum dolor. Totam cumque eum iure! Odit repellendus nulla officiis quisquam
    eligendi laudantium quasi sapiente voluptates! Velit eius molestias dolor, eum impedit fuga voluptatibus earum
    consectetur facere quia necessitatibus, excepturi quisquam tempore illo voluptates quaerat minima nisi quasi harum
    officiis corporis numquam. Quo ullam, tempore ratione similique error eaque assumenda incidunt in officia laborum
    dolorum. Voluptate maiores saepe exercitationem dolorem neque quis a dolores, aliquam quam nostrum, expedita iure
    quisquam facere. Rem quae distinctio iusto voluptatibus similique earum ducimus cumque!</p>
</body>

</html>