<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Web App with Python</title>
</head>

<body>
  <a href="/home">Ana Sayfa</a><br />
  <a href="/about">Hakkımızda</a><br />
  <a href="/contact">İletişim</a><br />
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore odio deserunt modi maiores molestias totam
    nostrum eligendi distinctio eum, animi illum dolor. Totam cumque eum iure! Odit repellendus nulla officiis quisquam
    eligendi laudantium quasi sapiente voluptates! Velit eius molestias dolor, eum impedit fuga voluptatibus earum
    e!</p>
</body>

</html>