<%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="/css/404.css">
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
      <h1>Page Not Found!</h1>

      <%- include('includes/end.ejs') %>