.text-center {
  text-align: center; }

.heading-small {
  font-size: 1.25rem; }

.heading-medium {
  font-size: 1.5rem; }

.heading-big {
  font-size: 1 0.75rem; }

.bg-dark-blue {
  background: #062e51; }

.bg-light-blue {
  background: #336ea2; }

.btn {
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  border-radius: 8px;
  letter-spacing: 0.5px; }

.btn-primary {
  background: #336ea2; }
  .btn-primary:hover {
    color: #336ea2;
    background-color: #fff;
    border: 1px solid #336ea2; }

.btn-dark {
  background: #333; }
  .btn-dark:hover {
    color: #333;
    background-color: #fff;
    border: 1px solid #333; }

.btn-block {
  width: 100%;
  text-align: center; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.form-group {
  padding: 0.2rem; }
  .form-group label {
    display: block; }
  .form-group .form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
    margin: 0.5rem; }
